*{
	padding: 0px;
	margin-top: 1px;
}
.image{
	background-image: url(pagetop.jpg);
	margin-bottom: 0px;
}

body{
	background:
	Linear-gradient(230deg, rgba(68, 66, 202, 0.8), rgba(92, 6, 109, 0.699) 56.71%),

	Linear-gradient(200deg, black, black 70.71%),
	
	Linear-gradient(200deg, rgba(109, 31, 119, 0.658), rgba(0,0,255,0) 70.71%);
	height:1200px ;
	background-size: 100%;
}
li{
	color: red;
	font-size: 50px;
	margin-left: 2cm;
	margin-right: 2cm;
	display: inline;
}
a{
	color:red;
}
a:hover{
	color: orange;
}
h1,h3,label{
	color:red;
}

button:hover{
	color:orange;
}

.image2{
	margin-top: 0.5cm;
	height: 850px;
	width: 1500px;
	margin-top: 0px;
}
.backgrounds{
	margin-left: 3cm;
	margin-right: 3cm;
	display: flex;
	justify-content: space-between;
	
}
.video{
	margin-top: 3cm;
	margin-bottom: 3cm;
}
.cp{
	display:flex;
	justify-content: space-around;
}
textarea{
	width: 10cm;
	height: 4cm;
	font-family: 
}
